.icon-p {
  font-family: 'Bootstrap-icons';
}
@media (max-height: 800px) {
  .page {
    min-height: 800px;
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 100px;
  }

  .contenido {
    max-height: 660px;
  }

  footer {
    background-color: #00224D;
    height: 30px;
    margin-top: auto;
  }
}

@media (min-height: 800px) {
  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 12vh;
  }

  .contenido {
    max-height: 83vh;
  }

  footer {
    background-color: #00224D;
    height: 3vh;
    margin-top: auto;
  }
}